@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

body {
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #0f172a;
}

p {
  color: #94a3b8;
}

h1,
h2,
h3,
h4,
h5 {
  color: white;
}

h1 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
}

.btn-green {
  color: #5eead4;
  background-color: #2dd4be28;
  border-radius: 10px;
  border: none;
  padding: 5px 10px;
  transition: background-color 0.3s ease-in-out;
  text-decoration: none;

  &:hover {
    background-color: #2dd4be98;
    cursor: pointer;
  }
}

.header-link {
  display: flex;
  align-items: center;
  color: #94a3b8;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  position: relative;

  &:hover {
    color: white;
  }

  &:hover::before {
    background-color: white;
    width: 50px;
  }
}

.header-link:hover::before,
.header-link.active::before {
  background-color: white;
  width: 50px;
}

.header-link:hover,
.header-link.active {
  color: white;
}

.header-link::before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 2px;
  background-color: #94a3b8;
  margin-right: 10px;
  transition: width 0.3s ease, background-color 0.3s ease;
}

.section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  width: 100%;
  position: relative;
  text-align: center;
}
.section-title::before,
.section-title::after {
  content: "";
  flex-grow: 1;
  height: 2px;
  background-color: #94a3b8;
}

.section-title::before {
  margin-right: 20px;
}

.section-title::after {
  margin-left: 20px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (max-width: 1000px) {
    display: block;
  }
  .main-content {
    padding-top: 120px;

    @media (max-width: 1000px) {
      padding-top: 60px;
    }
  }

  @media (max-width: 576px) {
    margin-top: 80px;
  }
}

.technical-btn-list {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}
