@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&d");
.about-me {
  margin-bottom: 200px;
}
@media (max-width: 1000px) {
  .about-me {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 100px;
  }
}
.about-me h3 {
  margin-bottom: 30px;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #0f172a;
}

p {
  color: #94a3b8;
}

h1,
h2,
h3,
h4,
h5 {
  color: white;
}

h1 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
}

.btn-green {
  color: #5eead4;
  background-color: rgba(45, 212, 190, 0.1568627451);
  border-radius: 10px;
  border: none;
  padding: 5px 10px;
  transition: background-color 0.3s ease-in-out;
  text-decoration: none;
}
.btn-green:hover {
  background-color: rgba(45, 212, 190, 0.5960784314);
  cursor: default;
}

.cursor-pointer {
  cursor: pointer;
}

.btn-green-cv {
  color: #5eead4;
  background-color: rgba(45, 212, 190, 0.1568627451);
  border-radius: 10px;
  border: none;
  padding: 5px 10px;
  transition: background-color 0.3s ease-in-out;
  text-decoration: none;
}
.btn-green-cv:hover {
  background-color: rgba(45, 212, 190, 0.5960784314);
}

.header-link {
  display: flex;
  align-items: center;
  color: #94a3b8;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  position: relative;
}
.header-link:hover {
  color: white;
}
.header-link:hover::before {
  background-color: white;
  width: 50px;
}

.header-link:hover::before,
.header-link.active::before {
  background-color: white;
  width: 50px;
}

.header-link:hover,
.header-link.active {
  color: white;
}

.header-link::before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 2px;
  background-color: #94a3b8;
  margin-right: 10px;
  transition: width 0.3s ease, background-color 0.3s ease;
}

.section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  width: 100%;
  position: relative;
  text-align: center;
}

.section-title::before,
.section-title::after {
  content: "";
  flex-grow: 1;
  height: 2px;
  background-color: #94a3b8;
}

.section-title::before {
  margin-right: 20px;
}

.section-title::after {
  margin-left: 20px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 1000px) {
  .content {
    display: block;
  }
}
.content .main-content {
  padding-top: 120px;
}
@media (max-width: 1000px) {
  .content .main-content {
    padding-top: 60px;
  }
}
@media (max-width: 576px) {
  .content {
    margin-top: 80px;
  }
}

.technical-btn-list {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

.experience {
  margin-top: 120px;
}
.experience .exp-card {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  margin-top: 40px;
  padding: 30px;
  border-radius: 10px;
  transition: background-color 0.2s ease-in-out;
  background-color: rgba(45, 212, 190, 0.0470588235);
}
.experience .exp-card:hover {
  background-color: rgba(45, 212, 190, 0.1568627451);
}
@media (max-width: 1000px) {
  .experience .exp-card {
    display: block;
  }
  .experience .exp-card h5 {
    font-size: 16px;
  }
}
.projects {
  margin-top: 120px;
}
@media (max-width: 1000px) {
  .projects {
    display: block;
  }
}
.projects .project-card {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  margin-top: 40px;
  padding: 30px;
  transition: background-color 0.2s ease-in-out;
  background-color: rgba(45, 212, 190, 0.0470588235);
  border-radius: 10px;
}
.projects .project-card:hover {
  background-color: rgba(45, 212, 190, 0.1568627451);
}
@media (max-width: 1000px) {
  .projects .project-card {
    display: block;
  }
  .projects .project-card h5 {
    font-size: 16px;
  }
}
@media (max-width: 1000px) {
  .projects .project-card .text h5 {
    font-size: 16px;
  }
}
@media (max-width: 992px) {
  .projects .project-card .coffemug {
    justify-content: center;
  }
}
.projects .project-card .social-media {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.projects .project-card .social-media svg {
  color: #94a3b8;
  transition: color 0.2s ease;
}
.projects .project-card .social-media svg:hover {
  color: white;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blinkCaret {
  50% {
    border-color: transparent;
  }
}
.typewriter {
  overflow: hidden;
  border-right: 2px solid white;
  white-space: nowrap;
  animation: typewriter 3s steps(30, end), blinkCaret 0.75s step-end infinite;
}
@media (max-width: 768px) {
  .typewriter {
    white-space: wrap;
  }
}

.none {
  grid-column: span 2 !important;
}

header {
  width: 80%;
  position: sticky;
  top: 0;
  height: 25%;
  padding-top: 120px;
}
@media (max-width: 1000px) {
  header {
    position: relative;
  }
}
header .header-title {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
header .links {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media (max-width: 1000px) {
  header .links {
    display: none;
  }
}
header .links a {
  align-self: flex-start;
}
header .social-media {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
header .social-media svg {
  color: #94a3b8;
  transition: color 0.2s ease;
}
header .social-media svg:hover {
  color: white;
}

.contact {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  grid-column: span 2;
  padding-top: 100px;
  background: radial-gradient(ellipse at center, rgba(26, 36, 56, 0.3) 50%, #0f172a 70%);
}
@media (max-width: 576px) {
  .contact {
    padding: 100px 0 0 0;
  }
}
.contact p {
  width: 70%;
}
.contact .contact-btn {
  color: #2dd4be;
  border-color: rgba(45, 212, 190, 0.9725490196);
  background-color: #0f172a;
  padding: 10px;
  transition: background-color 0.3s ease-in-out;
  border-radius: 10px;
}
.contact .contact-btn:hover {
  background-color: rgba(45, 212, 190, 0.5960784314);
  color: black;
}

footer {
  display: flex;
  grid-column: span 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  font-size: 12px;
}
footer a {
  color: #2dd4be;
}